# build output
dist/
.vercel/

# generated types
.astro/

# dependencies
node_modules/

# logs
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel
.env*.local

# Cache files
src/caniarun/__pycache__/*
src/caniarun/benchmarklog/__pycache__/*
src/caniarun/models/__pycache__/*
src/caniarun/tui/__pycache__/*
src/caniarun/tui/screens/__pycache__/*
src/caniarun/tui/widgets/__pycache__/*
src/caniarun/tui/screens/benchmark_log/__pycache__/*
